body {
  /* margin: 0; */
  /* background-color: rgb(255, 255, 255); */
}
.App {
  text-align: center;
}
h1 {
  background-color: #5e1d1b;
  padding: 5px;
  margin: 0;
  font-weight: 500;
  color: rgb(240, 240, 240);
}
h3 {
  font-weight: 500;
}
.content h3 {
  text-transform: uppercase;
  border-top: 2px solid #7f3d3d;
  background-color: #a87676;
  margin: 0;
  padding: 5px;
  color: rgb(240, 240, 240);
  border-radius: 10px 10px 0px 0px;
}
.content {
  display: flex;
  justify-content: space-around;
}

.taskList,
.doneList {
  margin-top: 50px;
  width: 40%;
  height: calc(100vh - 400px);
  min-height: 130px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
.taskList::after {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: aquamarine;
  left: 0;
  top: 20px;
}
.taskName,
.important,
.date {
  border: 0.5px solid rgb(194, 194, 194);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
input {
  text-align: center;
}
button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  color: #a61e1d;
  font-weight: bold;
}
.newTask {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.newTask button {
  width: 100px;
  border: 1px solid #7f3d3d;
}
.newTask__inputs {
  margin: 20px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  /* background-color: aquamarine; */
  /* justify-content: space-around; */
}
label {
  margin: 0 30px;
}
