body {
  /* margin: 0; */
  /* background-color: rgb(255, 255, 255); */
}
.App {
  text-align: center;
}
h1 {
  background-color: cadetblue;
  padding: 5px;
  margin: 0;
  font-weight: 500;
  color: rgb(240, 240, 240);
}
.content h3 {
  text-transform: uppercase;
  border-top: 2px solid cadetblue;
  margin: 0;
  padding: 5px;
}
.content {
  display: flex;
  justify-content: space-around;
}

.taskList,
.doneList {
  margin-top: 50px;
  width: 50%;
  height: calc(100vh - 400px);
  min-height: 130px;
}
.doneList {
  border-left: 2px solid cadetblue;
}
.taskName,
.important,
.date {
  border: 0.5px solid rgb(194, 194, 194);
  border-radius: 5px;
  padding: 5px;
}
input {
  text-align: center;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 11px;
  background-color: white;
  border: 1px solid cadetblue;
  color: cadetblue;
  font-weight: bold;
}
